.emotions-header {
    padding: 3em 1.5em;
    text-align: center;
    border-bottom: 1px solid $main-color;
}

.emotions-list [data-col] {
    &:nth-child(3n) .emotions-entry {
        border-right: 0;
    }

    &:nth-last-child(-n+3) .emotions-entry {
        border-bottom: 0;
    }
}

.emotions-entry {
    text-align: center;
    color: #fff;
    border-bottom: 1px solid $main-color;
    border-right: 1px solid $main-color;
    height: calc((100vh - 13em) / 3);

    a {
        display: block;
        padding: 1.5em;
        color: #fff;
        text-decoration: none;
    }
}
