h1,
.h1 {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 0.75em;
}

h2,
.h2 {
    font-size: 1.7em;
    line-height: 1.73;
    margin-bottom: 0.88em;
}

h3,
.h3 {
    font-size: 1.3em;
    line-height: 1.15;
    margin-bottom: 1.15em;
}

.muted {
    color: #fff;
}
