$main-color: #BDD6F2;
$background-color: #2c3641;

$button-colors: (
    start: #358AE8,
    end: #245D9C
);

$button-alt-colors: (
    start: #708399,
    end: #4A5866
);

$ssgs-columns: 2 3 4 5 6;

$media-queries: (
    'm': 40em,
    'l': 65em
);

$ssgs-prefixes: (
    'M': '(min-width: #{map-get($media-queries, "m")})',
    'L': '(min-width: #{map-get($media-queries, "l")})'
);
