* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 100%/1.5 -apple-system, sans-serif;
    color: $main-color;
    background-color: $background-color;
}

h1,
h2,
h3,
p,
ul,
button {
    margin-top: 0;
}

p,
ul {
    margin-bottom: 1.5em;
}

.unstyled-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
