* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 100%/1.5 sans-serif;
    color: $main-color;
    background-color: $background-color;
}

h1,
h2,
h3,
p,
ul,
button {
    margin-top: 0;
}

p,
ul {
    margin-bottom: 1.5em;
}

.unstyled-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.centered-text {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.ReactModal__Overlay,
div.ReactModal__Overlay--before-close {
    background-color: rgba(#111, 0) !important;
    transition: background-color 0.35s ease-in-out;
    will-change: background-color;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(#111, 0.75) !important;
}

.ReactModal__Content,
div.ReactModal__Content--before-close {
    transform: scale(1.05);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    will-change: transform;
}

.ReactModal__Content--after-open {
    transform: scale(1);
    opacity: 1;
}
