.emotions-header {
    padding: 3em 1.5em;
    background-color: rgba($main-color, 0.15);

    button {
        margin: 0.25em 0;
    }
}

.emotions-title {
    color: #fff;
    margin-bottom: 0;
}

.emotions-list [data-col] {
    &:nth-child(3n) .emotions-entry {
        border-right: 0;
    }

    &:nth-last-child(-n+3) .emotions-entry {
        border-bottom: 0;
    }
}

.emotions-entry {
    display: block;
    padding: 1.5em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    height: calc((100vh - 9em) / 2);
    transition: background-color 0.1s ease-in-out;
    will-change: background-color;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10em;
        height: 10em;
        margin-top: -5em;
        margin-left: -5em;
        transition: transform 0.1s ease-in-out;
        will-change: transform;
    }

    .popover {
        bottom: 1.5em;
    }

    &:hover img {
        transform: rotateZ(10deg) translateY(-1.5em);
    }
}

$colors: (
    'excited': #EB664B,
    'amused': #EBB54B,
    'sad': #4B78EB,
    'scared': #38E038,
    'weird': #AC4CEB,
    'inspired': #4CADEB
);

@each $name, $color in $colors {
    .emotion-#{$name}:hover {
        background-color: rgba($color, 0.15);
    }
}
